<app-player *ngFor="let player of game.players; let i = index;" [ngStyle]="{'top.px': 100 + (i * 80)}"
    [playerActive]="i == game.currentPlayer" [name]="player" class="player-tag" style="top: 0px;"></app-player>

<section>
    <div class="card-stack">
        <!-- Card stack -->
        <img [ngStyle]="{'right.px': i * 5}" *ngFor="let c of [0,1,2,3]; let i = index" 
            src="assets/playing_cards-master/card_cover.png">
        <img (click)="takeCard()" class="top-card" style="right: 25px;" 
            src="assets/playing_cards-master/card_cover.png">

        <!-- Stacks played cards -->
        <img *ngFor="let card of game.playedCards" class="played-card" 
            src="assets/playing_cards-master/{{ card }}.png">

        <!-- Current card (Animation) -->
        <img (click)="takeCard()" *ngIf="pickCardAnimation" class="pick-card" style="right: 25px;" 
            src="assets/playing_cards-master/{{ currentCard }}.png">
    </div>
</section>

<app-card-todo [card]="currentCard"></app-card-todo>

<button mat-fab class="add-button" (click)="openDialog()">
    <mat-icon>add</mat-icon>
</button>